body {
  font-size: 20px;
  overflow-x: hidden;
}

.transfer_message {
  margin-left: 5px;
  font-size: 20px;
}

.transfer_box {
  font-size: 20px;
  width: 80%;
}

#amount_box {
  font-size: 20px;
  width: fit-content;
}

.button {
  margin-left: 5px;
}
